body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark Mode */
  color: white;
}

.board {
  display: flex;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

.board > .column {
  flex: 1;           /* alle Columns gleich breit */
  min-width: 200px;  /* verhindert, dass sie zu schmal werden */
}
/* .column {
  flex: 1;
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 10px;
} */

.column.todo { background-color: #ff4f4f; }
.column.doing { background-color: #ffa500; }
.column.done { background-color: #4caf50; }

.card {
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 8px;
  margin: 8px 0;
}
